.logo {
  padding-left: 16px;
  padding-right: 16px;
  background-color: get-color(primary, 3);
  background-image: url(../../../images/cta-illustration.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  border-radius: 50%;
}